.SIAinfoBox{
	background-color:white;
	border: 1px solid black;
	overflow: hidden;
}

.dragheader{
	background-color:blue;
	height:24px;
}

.editDiv{
	position:absolute;
	cursor:pointer;
	right:15px;
	top: -10px;
	width:20px;
	background-color: gray;
	border: 1px solid black;
}

.deleteDiv{
	position:absolute;
	cursor:pointer;
	right:-10px;
	top: -10px;
	width:20px;
	background-color: gray;
	border: 1px solid black;
}

.ImageAnnotationDiv{
	border:2px solid green;
}
